<p><%= @klasses_mon.inspect %></p>
<p><%= @klasses_tue.inspect %></p>
<p><%= @klasses_wed.inspect %></p>
<p><%= @klasses_thu.inspect %></p>
<p><%= @klasses_fri.inspect %></p>
<p><%= @klasses_sat.inspect %></p>
<p><%= @klasses_sun.inspect %></p>