<div class="container">
  <div class="row">
    <h3 class="text-center">Add new class</h3>
    
    <div class="col-md-4 col-md-offset-4">
      <div class="well">

        <%= form_for @klass do | f | %>
        	<div class = “form-group”>
        		
        		<div class="form-group">
                      <%= f.label :name %>
                      <%= f.text_field :name, class: 'form-control' %>
                    </div>
                    
                    <div class="form-group">
                      <%= f.label :teacher %>
                      <%= f.text_field :teacher, class: 'form-control' %>
                    </div>
                    
                    <div class="form-group">
                      <b><div>Start time:</div>
                      <%= f.label :start_hour, class: 'hidden' %>
                      <%= f.select :start_hour, 6 .. 22, class: 'form-control' %>
                      :
                      <%= f.label :start_mins, class: 'hidden' %>
                      <%= f.select :start_mins, options_for_select((0..55).step(5).map{|s| "#{s}"}), class: 'form-control' %>
                      </b>
                    </div>
                    
                    <div class="form-group">
                      <%= f.label :duration %>
                      <%= f.text_field :duration, class: 'form-control' %>
                    </div>
                    
                    <div class="form-group">
                    	<%= f.label :day %>
        				<%= f.select :day, ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'] %>
        			</div>
                    
                    <%= f.submit 'Submit', class: 'btn btn-default' %>
         
        	</div>
        	
        <% end %>
      </div>
    </div>
  </div>
</div>